<div class="wrapper text-center mx-auto dark-bg">
    <div id="top-bar">
        <img id="logo" src="../../assets/img/Logo@1x.png" alt="Zentity logo">
    </div>
    <h2 class="mb-3">John Cena</h2>
    <section class="content h-100">
        <img src="../../assets/img/Password@1x.png" alt="">
        <p class="accent mx-auto">Great now your password, please.</p>
        <form [formGroup]="passwordForm" novalidate>
            <input formControlName="password" type="password" id="loginForm-password" class="form-control my-2" required
                aria-label="Password" [ngClass]="{'input-err': passwordForm.controls['password'].invalid}"
                placeholder="Make it strong!">
            <br>
            <input formControlName="confirmPassword" type="password" id="loginForm-confirmPassword" class="form-control"
                required aria-label="Confirm Password"
                [ngClass]="{'input-err': passwordForm.controls['confirmPassword'].invalid}"
                placeholder="And once again...">
            <div class="error mx-auto my-2" *ngIf="!passwordForm.valid">
                <div><img src="../../assets/img/Error@1x.png" alt="Error"></div>
                <div class="error-text">
                    <div *ngIf="passwordForm.hasError('required', 'password')">
                        Enter your password
                    </div>
                    <div *ngIf="passwordForm.hasError('pattern', 'password')">
                        Include some special characters and numbers
                    </div>
                    <div *ngIf="passwordForm.hasError('minlength', 'password')">
                        Minimum of 6 characters is allowed
                    </div>
                    <div *ngIf="passwordForm.hasError('maxlength', 'password')">
                        Maximum of 25 characters is allowed
                    </div>
                    <div *ngIf="passwordForm.hasError('matchValidator', 'confirmPassword')">
                        Passwords do not match
                    </div>
                </div>
            </div>
        </form>
    </section>
    <button type="submit" class="btn btn-white my-2 mx-auto" [disabled]="!passwordForm.valid"
        (click)="continue(passwordForm.value)">Continue</button>
</div>