<div class="wrapper text-center mx-auto dark-bg">
    <div id="top-bar">
        <img id="logo" src="../../assets/img/Logo@1x.png" alt="Zentity logo">
    </div>
    <h2 class="mb-3">John Cena</h2>
    <section class="content h-100">
        <img src="../../assets/img/Code@1x.png" alt="">
        <p class="accent mx-auto">Welcome to testing assignment at ZENTITY</p>
    </section>    
    <button type="button" (click)="startClicked()" class="btn btn-white my-2 mx-auto mt-auto">Start</button>
</div>
